    <main role="main" class="inner cover">
        <h1 class="cover-heading">About Me</h1>
        <p class="lead">With over a decade of development… Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus egestas enim sollicitudin, finibus ex a, ullamcorper justo. Morbi ut purus magna. Suspendisse eget magna varius, egestas purus quis, bibendum sem. Suspendisse potenti. Duis ut massa hendrerit erat pharetra maximus id nec risus. Sed a pellentesque nulla. </p>
        <p class="lead">Vivamus purus libero, mattis non congue nec, laoreet in tellus. Nunc vehicula suscipit lacus, sed consequat ex tincidunt eget. Aliquam eu sem consectetur nisi eleifend ornare. Nam tristique nisi tortor, ut vestibulum felis dictum vel. Pellentesque sed mi mollis, tristique lectus et, feugiat dolor. In vitae ex magna.</p>
    </main>
